# ====== Environment for pg-rst-iac ======
# RAID / Filesystem
ARRAY_DEV=/dev/md126
MOUNT_POINT=/srv/pgdata
FS_LABEL=pgdata
XFS_SU_KB=128
XFS_SW=3

# PostgreSQL
PG_VERSION=17
PG_SUPERUSER=postgres
PG_SUPERUSER_PASSWORD=CHANGE_ME_TRINITY
LISTEN_ADDRESSES="*"
ENABLE_PG_STAT_STATEMENTS=true

# Tuning (safe defaults for 128GB RAM host)
SHARED_BUFFERS=32GB
EFFECTIVE_CACHE_SIZE=96GB
WORK_MEM=64MB
MAINTENANCE_WORK_MEM=2GB
MAX_WAL_SIZE=8GB
CHECKPOINT_TIMEOUT=15min
RANDOM_PAGE_COST=3.5
EFFECTIVE_IO_CONCURRENCY=256

# WAL relocation
MOVE_WAL=true
WAL_DIR=/srv/pgwal

# Access control
ALLOW_CIDRS="10.0.1.0/24 203.0.113.10/32"

# Exporter
EXPORTER_USER=postgres_exporter
EXPORTER_PASSWORD=CHANGE_ME_NEO
EXPORTER_LISTEN_ADDR="127.0.0.1:9187"

# UFW
UFW_ENABLE=false
UFW_PG_CIDRS="10.0.1.0/24"
UFW_EXP_CIDRS="203.0.113.10/32"

# Backup (optional, pgBackRest S3/YC)
PGBR_S3_BUCKET=""
PGBR_S3_REGION="ru-central1"
PGBR_S3_ENDPOINT="storage.yandexcloud.net"
PGBR_S3_KEY=""
PGBR_S3_SECRET=""
PGBR_RETENTION_FULL=8

# Alerts / Monitoring (optional)
ALERT_EMAIL="root"
